<footer class="footer">
  <p class="pull-right">
    <a href="#">Back to top</a>
  </p>
  <p>
    Built by <a href="http://twitter.com/br0nc080" target="_blank">@br0nc080</a>
  </p>
  <p>
    Any questions or comments appreciated.
  </p>
</footer>